backports.entry-points-selectable==1.1.1
colorama==0.4.4
distlib==0.3.3
filelock==3.3.2
packaging==21.2
platformdirs==2.4.0
pluggy==1.0.0
py==1.11.0
pyparsing==2.4.7
six==1.16.0
toml==0.10.2
tox==3.24.4
virtualenv==20.10.0
